[Unit]
Description=VSCode in a browser
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/code-server {{coder_workdir}}
WorkingDirectory={{coder_workdir}}
ExecStop=/sbin/start-stop-daemon --stop -x /usr/bin/code-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
